/* Variables */
/* --------- */

$sidebarFont: kavoon;
$contentFont: lato;

/* Colors */
$flatRed: #FF6666;

$alizarin: #e74c3c;
$royalBlue: #0B2C3C;
$classyGrey: #DADFE1;
$lightGrey: #BABABA;
$desert: #F1DDBB;

$mainFontSize: 40px;
$subFontSize: 3vw;

// Currently used colors
$leftPaneColor: $alizarin;

$mainTextColor: $lightGrey;
$subTextColor: $royalBlue;

$linkHover: $classyGrey;
$linkHoverbackground: $royalBlue;

$nameColor: $desert;

/* Mixins */
/* ------ */
@mixin border-radius( $radius:2px ) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin padLeft( $paddingLeft:5px ) {
    padding-left: $paddingLeft;
}

/* Global Styles */
/* -------------- */

html {
    height: 100%;

    body {
        background: url(../../images/greyzz.png);
        height: 100%;
    }
}

ul {
    list-style-type: none;
}
ol {
    margin-left: 35px;
    margin-top: 30px;
}

a {
    color: $subTextColor;
    text-decoration: none !important;
    cursor: pointer !important;
}
a:hover {
    color: $linkHover;
    @include border-radius( 5px );

    background: $linkHoverbackground;
}

// row = 100% on large screens only,
// which results in a better responsive design
@media screen and (min-width: 992px)
{
    .row {
        height: 100%;
    }
}

.main-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.padLeft {
    font-family: "kavoon", sans-serif;
    @include padLeft(50px);
}

/* Selected Styles */
/* --------------- */

.first {
    height: 100%;
    opacity: 0.92;
    background: $leftPaneColor;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
    transition: 0.2s;
    font-family: "kavoon", sans-serif;

    .github {
        font-size: 10px;
        right: 0px;
        margin-left: 104px;
    }

    .content-wrapper {
        position: relative;
        top: 10%;
        left: 18%;
        width: 80%;
    }

    .tab {
        display: inline-block;

        padding: 5px;
        margin-top: 5px;
    }

    .selected {
        color: lighten($nameColor, 7.5%);
        @include border-radius( 5px );
        background: transparent;
    }

    .name {
        font-family: "kavoon", sans-serif;
        display: inline-block;
        font-size: 2.5vw;
        color: $nameColor;
        cursor: default;
    }
    .subtitle {
        cursor: default;
    }
    .side-nav-a {
        font-size: 2vw;
        color: $subTextColor;
    }
}
.second {
    font-family: $contentFont, sans-serif;
    -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
    transition: 0.2s;

    .content-wrapper {
        position: relative;
    }

    .title {
        visibility: hidden;
        font-size: $mainFontSize;
        color: $mainTextColor;
    }

    .content {
        font-size: $subFontSize;
        color: $subTextColor;
        margin-left: 5%;
        cursor: default;
    }
    a.content:hover {
        color: $linkHover;
        background: $royalBlue;
    }

    .bucketlist-tab-wrapper {
        cursor: default !important;
    }

    .projects-list {
        margin: 0;
        padding: 0;
    }

    .quote {
        position: absolute;
        right: 50px;
        bottom: 5px;
        cursor: default;
    }
}
.third {
    height: 100%;
    min-height: 100%;
    background: $leftPaneColor;
}